/.Rhistory
/.ipynb_checkpoints
/.nextflow.log
/.nextflow.log.1
/Untitled.ipynb
/__pycache__
/bin
/build
/dist
/genome.len
/gff_control.Rmd
/gff_control.html
/novel.chr2.gtf
/novel.gtf
/out.md
/out.pdf
/packaging_tuto
/readme.md
/ressources
/scipy.log
/small.ds.lg.tmp
/small.gtf
/small_introns.gff
/small_introns_24mer_don_acc.gff
/small_introns_24mer_don_acc_nr.tsv
/small_introns_24mer_don_acc_seq.gff
/small_introns_24mer_don_acc_seq_ds.gff
/small_introns_24mer_don_acc_seq_ds_can.gff
/small_introns_24mers_don_acc_nr.bed
/sus_scrofa.fa
/sus_scrofa.fa.fai
/tmp.bed
/tmp.gtf